* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content";
}

.header {
    grid-area: header;
    border: 4px solid red;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main-content;
}

.first-part-header {
    display: grid;
    background: yellow;
    grid-template-columns: 80% 20%;
}

.search-bar {
    border: 4px solid blue;
    display: grid;
    grid-template-columns: 7% 93%;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    width: 100%;
    height: 1.5rem;
}